<section class="hero" id="Home">
    <div class="fondo-transparente">
        <div class="contenedor">
            <h1 class="title"> Aca Va el Titulo</h1>
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/spiderman-lejos-de-casa-marvel-1547720163.jpg?crop=1xw:0.8888888888888888xh;center,top&resize=640:*" class="img-fluid" alt="...">
            <h2>Gracias por visitar la pagina!! </h2>
            
        </div>
        <a class="boton-hero" href="">Nos vemos la proxima</a>
    </div>
</section>