<form class="formulario">
    <legend> Complete sus datos</legend>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ingrese su mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">nos pondremos en contacto con usted.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputtext1" class="form-label">Ingrese el mensaje</label>
        <input type="text" class="form-control" id="exampleInputtext">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Acepto los terminos</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>